html {
    -moz-osx-font-smoothing: grayscale !important;
    -webkit-font-smoothing: antialiased !important;
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.1em;
}

.line {
    border-top: 2px solid rgba(158, 166, 168, 1);
    margin-top: 25px;
    margin-bottom: 25px;
}

.features {

}

.features img {
    width: inherit;
}

.features a {
    font-weight: bold;
    font-size: 14px;
}

.header {
    padding: 0 10px 0 10px;
    height: 30px;
    background: #000000;
}

.navigation {
    font-size: 12px;
}

a, .link, a .link {
    transition: .2s;
    color: rgba(37, 37, 37, 1);
    text-decoration: none;
}

a:hover, .link:hover, a:hover .link {
    color: rgba(197, 0, 42, 1);
    text-decoration: none;
}

.navigation a {
    font-weight: bold;
    color: #ffffff;
}

.navigation a:hover {
    color: #ffffff;
}

.mainContent {
    padding: 25px 100px 25px 100px;
}

.mainContext {
    background-size: cover;
    background: url('../images/photo-city-main.jpg') center center;
    height: 400px;
    color: #ffffff;
}

.mainContent h1 {
    font-size: 60px;
    font-weight: bold;
}

.fadeout {
    position: relative;
    bottom: 8em;
    height: 8em;
    background: -webkit-linear-gradient(
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 100%
    );
    background-image: -moz-linear-gradient(
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 100%
    );
    background-image: -o-linear-gradient(
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 100%
    );
    background-image: linear-gradient(
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 100%
    );
    background-image: -ms-linear-gradient(
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 100%
    );
}

.btn {
    border-radius: 0.3rem;
}

.container-fluid {
    padding: 0;
}

.article {
    margin-top: -6em;
}

.article .textTop {
    font-size: 24px;
}

.article h3 {
    font-size: 16px;
    margin-bottom: 0;
    font-weight: bold;
}

.article .text {
    font-size: 14px;
    margin-top: 0;
}

.features .subText {
    font-size: 12px;
    color: rgba(158, 166, 168, 1) !important;
}

.features .text {
    font-size: 14px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.footer {
    background: #000000;
}

.footer a {
    color: #ffffff;
    font-size: 15px;
    font-weight: normal;
}

.footer .mainNav {
    color: #ffffff;
    font-weight: bold;
    border-bottom: 2px solid rgba(37, 37, 37, 1);
}
